---
title: お問い合わせ
---

<div id="needs">
  <h2>お問い合わせ</h2>

  <p>お問い合わせありがとうございます。</p>
  <p>下記のフォームにご記入の上、送信して下さい。</p>

  <form method="post" action="//formspree.io/y-kawahigashi@muse.ocn.ne.jp">
    <input type="hidden" name="_next" value="http://www.ykawahigashi-tax.com" />
    <input type="hidden" name="_subject" value="ykawahigashi-tax.comからのコンタクト" />
    <fieldset class="text">
      <label for="お名前">お名前:　</label>
      <input name="お名前" type="text" />
    </fieldset>
    <fieldset class="text">
      <label for="フリガナ">フリガナ:　</label>
      <input name="フリガナ" type="text" />
    </fieldset>
    <fieldset class="text">
      <label for="_replyto">メールアドレス:　</label>
      <input name="_replyto" type="email" />
    </fieldset>
    <fieldset>
      <label for="内容">内容:　</label>
      <textarea name="内容" id="naiyo" rows="5" cols="57"></textarea>
    </fieldset>
    <fieldset id="buttons">
      <input type="submit" id="submit" value="送信" />
      <input type="reset" id="reset" value="クリア" />
    </fieldset>
  </form>
</div>
