---
title: こんな時に・・・
---

<div id="needs">
  <h2>こんな時に・・・</h2>

  <dl>
    <dt>個人・法人を問わず、事業を始めた時</dt>
    <dd>
    <p>サラリーマンの方が副業を行っている場合も、売上金額が一定額を超えると申告の必要があります。</p>
    <p>法人設立、会計ソフト導入、自計化指導など、起業支援も行っております。</p>
    </dd>

    <dt>会社を退職してフリーランスになった時</dt>
    <dd>デザイナーやカメラマン、ライターの方々など。</dd>

    <dt>土地や建物（例えばマイホーム）を売ったり買ったりした時</dt>

    <dt>相続や贈与により資産を取得した時</dt>
  </dl>

  <div id="here">
    <p><strong>などの際にはご相談下さい。</strong></p>
  </div>
</div>
