---
title: Profile
---

<div id="profile">
  <h2>プロフィール</h2>

  <div id="target">
    <p>法人・個人の事業主の皆さま、特にこれから起業をお考えの方、起業したばかりの方、</p>
    <p>まずはご相談下さい。</p>
  </div>

  <div id="office">
    <h3>川東優子税理士事務所</h3>
    <dl>
      <dt>名前</dt>
      <dd>川東優子（カワヒガシ　ユウコ）</dd>
      <dt>生年月日</dt>
      <dd>1975 年 8 月 24 日</dd>
      <dt>所在地</dt>
      <dd>〒124-0022　東京都葛飾区奥戸2-16-14-405</dd>
      <dt>所属</dt>
      <dd>平成17年11月開業　東京税理士会・葛飾支部（立石部会）</dd>
    </dl>
  </div>

  <div id="rireki">
    <h3>相談員等その他の仕事履歴</h3>
    <ol>
      <li>
      <span class="year">＜26年度＞</span>
      <ol>
        <li>26年5月 <span class="naiyo">窓口税務相談員（東京商工会議所葛飾支部にて）</span></li>
        <li>26年7月 <span class="naiyo">窓口税務相談員（東京商工会議所葛飾支部にて）</span></li>
        <li>26年11月<span class="naiyo">窓口税務相談員（東京商工会議所葛飾支部にて）</span></li>
        <li>27年1月 <span class="naiyo">窓口税務相談員（東京商工会議所葛飾支部にて）</span></li>
        <li>27年2月 <span class="naiyo">小規模事業者確定申告指導員（葛飾区金町地区センターにて）</span></li>
        <li>27年2月 <span class="naiyo">窓口税務相談員（東京商工会議所葛飾支部にて）</span></li>
        <li>27年2月 <span class="naiyo">確定申告相談員（葛飾青色申告会にて）</span></li>
        <li>27年3月 <span class="naiyo">確定申告相談員（葛飾青色申告会にて）</span></li>
        <li>27年3月 <span class="naiyo">窓口税務相談員（東京商工会議所葛飾支部にて）</span></li>
      </ol>
      </li>
      <li>
      <span class="year">＜27年度＞</span>
      <ol>
        <li><span class="naiyo-2">現在、</span></li>
        <li><span class="naiyo-2">東京税理士会葛飾支部　緊急援助税理士グループ会員</span></li>
        <li><span class="naiyo-2">東京税理士会葛飾支部　幹事（広報部）</span></li>
        <li>&nbsp;</li>
        <li><span class="naiyo-2">22年4月、登録政治資金監査人登録</span></li>
      </ol>
      </li>
    </ol>
  </div>
</div>
